@import "tailwindcss";

@theme {
  --font-sans: 'Montserrat', sans-serif;
  --font-display: 'Fredoka', 'Montserrat', sans-serif;
}

:root {
  --color-brand-green: #006A2C;
  --color-brand-greenl: #268C3E;
  --color-brand-greenc: #56D441;
  --color-brand-yellow: #e6f000;
  --color-brand-dark: #1a1a1a;
  --color-brand-cream: #FAFAF7;
}